<div  class="content__container">
  <div class="cards__container">
    <mat-card>
      <mat-icon>add</mat-icon>
      <mat-card-title>Add new dish</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-icon>add</mat-icon>
      <mat-card-title>Add new employee</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-icon>add</mat-icon>
      <mat-card-title>Add new menu</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-icon>add</mat-icon>
      <mat-card-title>Add new reservation</mat-card-title>
    </mat-card>
    <mat-card>
      <mat-icon>add</mat-icon>
      <mat-card-title>Add new supplier</mat-card-title>
    </mat-card>
  </div>
</div>