<mat-toolbar color="primary">
  <span>Restaurant</span>
  <span class="spacer"></span>
  <div  class="example-button-row">
    <button mat-button 
            routerLink="/suppliers">
      Suppliers
    </button>
    <button mat-button 
            routerLink="/reservations">
      Reservations
    </button>
    <button mat-button
            routerLink="/menus">
      Menus
    </button>
    <button mat-button
            routerLink="/employees">
      Employees
    </button>
    <button mat-button
            routerLink="/dishes">
      Dishes
    </button>
    <button mat-icon-button 
            routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</mat-toolbar>