.container{
  
  h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}

.content{
  display: grid;
  grid-template-columns: minmax(75%,1fr) 25% ;
}

.menu_select{
  margin-right: .5rem;
}

.menu_section{
  margin-bottom: 1.5rem;
}

.menu_preview{
  background-color: #424242;
  border-radius: .5rem;
  margin-left: .5rem;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.carousel{
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  gap: .5rem;
  border-radius: .5rem;
  padding: 1rem;
}

.card {
  border-radius: .5rem;
  width: 250px;
  height: 200px;
  background-color: #424242;
  padding: .5rem;
  overflow: hidden;

  img{
    width: 100%;
    border-radius: .5rem;
  }

  p{
    font-size: 1.4rem;
    margin-top: .5rem;
    text-transform: capitalize;
  }
}

.preview_card{
  background-color: #2a2a2a;
  padding: .7rem;
  border-radius: .5rem;
  
  img{
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  p{
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
}