<div class="searchBox">
  <searchbar
    (OnSearch)="search($event)"
    (OnDebounce)="search($event)"
  ></searchbar>
  <select class="input-d" #type>
    <option value="name" selected>Name</option>
    <option value="document">Document</option>
    <option value="email">Email</option>
    <option value="phone">Phone</option>
  </select>
</div>
<div *ngIf="!notFound">
  <page-header
    title="Customers..."
    btnLink="/customers/new-customer"
  ></page-header>
  <card
    *ngFor="let item of list"
    [title]="item.name"
    [subtitle]="item.email"
    [description]="item.document_type + '  -  ' + item.document"
    [id]="item.id!"
    (OnDelete)="deleteItem($event)"
    editUrl="/customers/customer"
  ></card>
  <div class="paginator" *ngIf="totalCustomers > 10">
    <span class="info1">Items per page: 10</span>
    <span class="info2">{{ list.length }} of {{ totalCustomers }}</span>
    <div class="buttons">
      <mat-icon (click)="previusPage()">arrow_back_ios</mat-icon>
      <mat-icon (click)="nextPage()">arrow_forward_ios</mat-icon>
    </div>
  </div>
</div>
<div *ngIf="notFound" class="notFoundAlert">
  <p>Not Found :(</p>
</div>
