.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form-field{
  margin-bottom: 1rem;
}

.img__container{
  border-radius: .5rem;
  overflow: hidden;
  margin-bottom: 1.3rem;
  max-width: 500px;
  max-height: 300px;
}


img{
  width: 100%;
}